* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
footer {
    padding: 20px;
    background-color: lightskyblue;
}

.griglia {
    width: 600px;
    background-color: beige;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.cell {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bomba{
    background-color: red;
}